modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_anthropic_ai_integrations:2.0.0", "javascript_log_in_with_replit:2.0.0", "github:1.0.0", "stripe:1.0.0"]

[userenv]

[userenv.shared]
VITE_PRIVY_APP_ID = "cmmyniyn500170dl19lkedqy8"
MPP_SECRET_KEY = "df7d54d0a95582836a3ba9c1aad1b16c78f3667486d90e0d3876c258d65dffa0"
MPP_SERVER_WALLET_KEY = "0xb13eb4e28f187b8a064f3dc207aa856b33236b511bfadfd9a566b4c902069e20"
MPP_SERVER_WALLET_ADDRESS = "0x8518b315b3DFC4415Be7E75b2571Df635b27552a"
